<div class="container isp2-flat-bg">
	<div class="page-header">

		<h1> {{{ STEP3_TITLE }}} </h1>
    
		<p class="lead"> {{{ STEP3_MSG }}} </p>
		
		
	<form role="form" method="post" action="remove.php">
	<button type="submit" name="adminopt" class="btn btn-success btn-lg pull-right">Del Installer</button>
	</form>
	<a href="../public/admin">
    	<button class="btn btn-lg btn-default pull-right">Admin Location</button>
    </a>
    <a href="../public/">
    	<button class="btn btn-lg btn-default pull-right">Frontend Location</button>
    </a>
	</div>
</div>